<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/first.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <title>Choose</title>
</head>

<body>
    <div class="date"></div>
    <div class="time"></div>
    <div class="new_text"><a href="/">Add New Text</a></div>
    <div class="todo_list"><a href="/">Add New Vocabulary</a></div>
    <div class="choose_block x_mark main_toggler_btn">
        <h1>Choose direction</h1>
    </div>
    <div class="main_block">
        <button class="x_mark block_btn">
            <i class="fa-solid fa-x"></i>
        </button>
        <ul>
            <li style="--i:#13212350"><a href="/">Home</a></li>
            <li style="--i:#fff00050"><a href="{%  url 'main_app:statistic'%}">Statistic</a></li>
            <li style="--i:#12343250"><a href="/">Text</a></li>
            <li style="--i:#19823450"><a href="/">Add new Statistic</a></li>
            <li style="--i:#12123450"><a href="/">Add New Todo</a></li>
        </ul>
    </div>
    <script src="{% static 'js/first.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</body>

</html>